.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0.5rem 2rem;
    background: rgba(11, 146, 242, 0.196);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 30px;
        
        img {
            width: 40px;
        }

        p {
            font-size: 20px;
            margin-left: 10px;
            letter-spacing: 2px;
            font-weight: 600;
            color: white;
        }
    }

    .navbar-links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      
        list-style: none;
      
        li {
          margin: 0 1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-direction: column;
      
          div {
            width: 20px;
            height: 2px;
            background: transparent;
            border-radius: 50%;
      
            margin-bottom: 5px;
          }
      
          a {
            color: gray;
            text-decoration: none;
            flex-direction: column;
      
            font-weight: 500;
      
            transition: all 0.2s ease-in-out;
      
            &:hover {
              color: white;
            }
          }
      
          &:hover {
            div {
              background: rgb(49, 180, 250);
            }
          }
        }
    }
}